<style>
    @import url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2);
	@font-face {
	  font-family: "Open Sans";
	  font-style: normal;
	  font-weight: 400;
	  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
	}
</style>
<div id="message">
<br>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Welcome to <strong>TokoKu - Cloud POS Solutions</strong>.
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Thank you for downloading our Android App from  Google Play Store.
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
We have provided you with complimentary Tokoku Cloud Service for the next 30 days.<br/><br/>
Sync and access your business data any where, any time on any android devices!<br/>
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Please contact our sales representative if you want to enjoy Cloud Service after the period ends.<br/><br/>
You still can access your business data on your smartphone without Cloud Service but you will not be able to sync the data to other Android device.<br/><br/>
No more remote monitoring of your business, no more data back up/recovery in the event that your device got lost or spoiled.
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
We have registered your merchant below into our system, your merchant activation code is <strong>$code</strong>
</div>
<br/>

<table style="border-collapse: collapse;">
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Merchant : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$merchant</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Address : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$address</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Telephone : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$telephone</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Login Id : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$loginId</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Password : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$password</td>
	<tr>
</table>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
For more info please visit our website at <a href="https://www.pos-tokoku.com" style="font: normal 14px "Open Sans", Georgia, "Comic Sans"; color: #438db0;">https://www.pos-tokoku.com</a>.
<br/>
The guide for TokoKu App can be found at <a href="https://www.pos-tokoku.com/guide" style="font: normal 14px "Open Sans", Georgia, "Comic Sans"; color: #438db0;">https://www.pos-tokoku.com/guide</a>.
</div>
<br>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
We hope that our product can give benefit to your business. <br/>
Please email or chat with us via whatssap if you have any enquiry, we will be happy to help you.  
</div>
<br>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Warm Regards,<br><br><br>

TokoKu Team - Cloud POS Solutions<br><br>
Whatsapp: +62 856-4745-3111<br>
Line: tokoku.solutions<br>
</div>
</div>