<div id="content" style="overflow: auto; width: 602px; border: 0px solid #555;">
	<div id="logo" style="float: left; width: 500px; border: 1px solid #555; background: #285275; padding: 3px 10px 3px 20px; font: bold 24px 'Trebuchet MS', Arial, Sans-serif; color: #DDD; -moz-border-top-left-radius: 15px; -webkit-border-top-left-radius: 15px; border-top-left-radius: 15px;">
		<div style="float: left; color: #fff;">POS&nbsp;</div>
		<div style="float: left; color: #aac8e1;">Tokoku</div>
	</div>
	<div id="message" style="float: left; width: 500px; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 1px solid #555; padding: 25px 10px 25px 20px; font: normal 12px Tahoma; color: #444;">
		Thank you for your registration, please refer below for your merchant details.
		<div style="padding: 10px 0px 10px 0px; width: 500px; border: 0px solid #CCC; overflow: auto;">
			<div style="float: left; width:100px; line-height: 16px;">Merchant :</div><div style="float: left; width:350px; line-height: 16px;">$merchant</div>
			<div style="float: left; width:100px; line-height: 16px;">Address :</div><div style="float: left; width:350px; line-height: 16px;">$address</div>
			<div style="float: left; width:100px; line-height: 16px;">Telephone :</div><div style="float: left; width:350px; line-height: 16px;">$telephone</div>
			<div style="float: left; width:100px; line-height: 16px;">Login Id :</div><div style="float: left; width:350px; line-height: 16px;">$loginId</div>
			<div style="float: left; width:100px; line-height: 16px;">&nbsp;</div><div style="float: left; width:350px; line-height: 16px;">&nbsp;</div>
			<div style="float: left; width:100px; line-height: 16px;">Activation Code :</div><div style="float: left; width:350px; line-height: 16px;">$code</div>
		</div>
	</div>
</div>