<style>
    @import url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2);
	@font-face {
	  font-family: "Open Sans";
	  font-style: normal;
	  font-weight: 400;
	  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
	}
</style>
<div id="message">
<br>
<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Selamat Datang di <strong>TokoKu - Sistem Kasir dengan Teknologi Cloud</strong>.
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Terima kasih telah mendownload aplikasi Android kami dari Google Play Store.
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Kami telah memberi anda Servis Tokoku Cloud selama 30 hari.<br/><br/>
Sync dan akses data usaha kapan saja, di mana saja, dan pada semua perangkat Android!
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Silahkan kontak kami jika anda ingin menikmati Servis Tokoku Cloud setelah periode tersebut berakhir.<br/><br/>
Anda masih dapat mengakses data anda di smartphone tanpa Servis Tokoku Cloud, akan tetapi anda tidak dapat melakukan singkronisasi data ke perangkat Android lainnya.<br/><br/>
Anda tidak dapat lagi melakukan remote monitoring usaha anda dan back up data jika perangkat anda hilang atau rusak. 
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Kami telah mendaftarkan merchant Anda di bawah ini ke dalam sistem kami, kode aktivasi Anda adalah
<strong>$code</strong>
</div>
<br/>

</div>
<table style="border-collapse: collapse;">
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Merchant : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$merchant</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Alamat : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$address</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Telepon : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$telephone</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Login Id : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$loginId</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Password : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$password</td>
	<tr>
</table>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Jika anda membutuhkan bantuan, anda dapat menghubungi kami melalui SMS / Whatsapp +62 856-4745-3111.   
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Untuk info lebih lanjut silahkan kunjungi website kami <a href="https://www.pos-tokoku.com?lang=id" style="font: normal 14px "Open Sans", Georgia, "Comic Sans"; color: #438db0;">https://www.pos-tokoku.com</a>.<br/>
Petunjuk penggunaan aplikasi TokoKu dapat diakses pada <a href="https://www.pos-tokoku.com/guide?lang=id" style="font: normal 14px "Open Sans", Georgia, "Comic Sans"; color: #438db0;">https://www.pos-tokoku.com/guide</a>.
</div>
<br/>

<div style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Salam Hangat,<br><br><br>

TokoKu Team - Cloud POS Solutions<br><br>
Whatsapp: +62 856-4745-3111<br>
Line: tokoku.solutions<br>
</div>
</div>