<div id="message" style="float: left; width: 500px; border-left: 0px solid #555; padding: 25px 20px 25px 20px; font: normal 13px Tahoma; color: #444;">
	Thank you for your registration, please refer below for your merchant details.
	<div style="padding: 10px 0px 10px 0px; width: 500px; border: 0px solid #CCC; overflow: auto;">
		<div style="float: left; width:110px; line-height: 16px;">Merchant :</div><div style="float: left; width:300px; line-height: 16px;">$merchant</div>
		<div style="float: left; width:110px; line-height: 16px;">Address :</div><div style="float: left; width:300px; line-height: 16px;">$address</div>
		<div style="float: left; width:110px; line-height: 16px;">Telephone :</div><div style="float: left; width:300px; line-height: 16px;">$telephone</div>
		<div style="float: left; width:110px; line-height: 16px;">Login Id :</div><div style="float: left; width:300px; line-height: 16px;">$loginId</div>
		<div style="float: left; width:110px; line-height: 16px;">&nbsp;</div><div style="float: left; width:300px; line-height: 16px;">&nbsp;</div>
		<div style="float: left; width:110px; line-height: 16px;">Activation Code :</div><div style="float: left; width:300px; line-height: 16px;">$code</div>
	</div>
</div>