<style>
    @import url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2);
	@font-face {
	  font-family: "Open Sans";
	  font-style: normal;
	  font-weight: 400;
	  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
	}
</style>
<div id="message">
<br>
<p style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Selamat Datang di TokoKu - Sistem Kasir dengan Teknologi Cloud.
</p>
<p style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Kami telah mendaftarkan merchant Anda di bawah ini ke dalam sistem kami, kode aktivasi Anda adalah
<strong>$code</strong>
</p>
<table style="border-collapse: collapse;">
	<tr>
		<td width="85px" style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Merchant : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$merchant</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Alamat : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$address</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Telepon : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$telephone</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Login Id : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$loginId</td>
	<tr>
	<tr>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">Password : &nbsp;</td>
		<td style="vertical-align: top; font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">$password</td>
	<tr>
</table>

<p style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Jika anda membutuhkan bantuan, anda dapat menghubungi kami melalui SMS / Whatsapp +62 856-4745-3111.   
</p>

<p style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Untuk info lebih lanjut silahkan kunjungi website kami <a href="https://www.pos-tokoku.com?lang=id" style="font: normal 14px 'Open Sans'; color: #438db0;">https://www.pos-tokoku.com</a>.
Petunjuk penggunaan aplikasi TokoKu dapat diakses pada <a href="https://www.pos-tokoku.com/guide?lang=id" style="font: normal 14px 'Open Sans'; color: #438db0;">https://www.pos-tokoku.com/guide</a>.
</p>
<p style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Kami harap produk kami dapat bermanfaat untuk usaha anda. Harap email kami <span style="font: normal 14px 'Open Sans'; color: #438db0; important!">app.tokoku@gmail.com</span> jika anda membutuhkan bantuan.  
</p>
<br>
<p style="font: normal 12px "Open Sans", Georgia, "Comic Sans"; color: #444;">
Salam Hangat,<br><br><br>
TokoKu Team - Cloud POS Solutions<br><br>
Whatsapp: +62 856-4745-3111<br>
Line: tokoku.solutions<br>
</p>
</div>