<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>getLastSyncJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.GetLastSyncJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateLastSyncJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UpdateLastSyncJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productGroupGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductGroupGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productGroupUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductGroupUpdateJsonServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>getLastSyncJsonServlet</servlet-name>
		<url-pattern>/getLastSyncJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateLastSyncJsonServlet</servlet-name>
		<url-pattern>/updateLastSyncJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productGroupGetJsonServlet</servlet-name>
		<url-pattern>/productGroupGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productGroupUpdateJsonServlet</servlet-name>
		<url-pattern>/productGroupUpdateJsonServlet</url-pattern>
	</servlet-mapping>

</web-app>
