<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	
    
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
    
	<!-- Servlets -->
	<servlet>
		<servlet-name>homeServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>guideServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.GuideServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantRegisterJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantRegisterJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantResendActivationCodeJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantResendActivationCodeJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantGetByLoginIdJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantGetByLoginIdJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantResetPasswordJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantResetPasswordJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantValidateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantValidateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userValidateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UserValidateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getLastSyncJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.GetLastSyncJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateLastSyncJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UpdateLastSyncJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productGroupGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductGroupGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productGroupUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductGroupUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>discountGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.DiscountGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>discountUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.DiscountUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantGetAllJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantGetAllJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>employeeGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.EmployeeGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>employeeUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.EmployeeUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>customerGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.CustomerGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>customerUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.CustomerUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cashflowGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.CashflowGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cashflowUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.CashflowUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UserGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UserUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>transactionsGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.TransactionsGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>transactionsUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.TransactionsUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>transactionItemGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.TransactionItemGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>transactionItemUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.TransactionItemUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>supplierGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.SupplierGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>supplierUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.SupplierUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>billGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.BillGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>billUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.BillUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>inventoryGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.InventoryGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>inventoryUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.InventoryUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantAccessGetAllJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantAccessGetAllJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantAccessGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantAccessGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantAccessUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantAccessUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userAccessGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UserAccessGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userAccessUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UserAccessUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ordersGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.OrdersGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ordersUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.OrdersUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ordersDeleteJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.OrdersDeleteJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>orderItemGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.OrderItemGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>orderItemUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.OrderItemUpdateJsonServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>guideServlet</servlet-name>
		<url-pattern>/guide</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantRegisterJsonServlet</servlet-name>
		<url-pattern>/merchantRegisterJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantResendActivationCodeJsonServlet</servlet-name>
		<url-pattern>/merchantResendActivationCodeJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantGetByLoginIdJsonServlet</servlet-name>
		<url-pattern>/merchantGetByLoginIdJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantResetPasswordJsonServlet</servlet-name>
		<url-pattern>/merchantResetPasswordJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantValidateJsonServlet</servlet-name>
		<url-pattern>/merchantValidateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userValidateJsonServlet</servlet-name>
		<url-pattern>/userValidateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getLastSyncJsonServlet</servlet-name>
		<url-pattern>/getLastSyncJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateLastSyncJsonServlet</servlet-name>
		<url-pattern>/updateLastSyncJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productGroupGetJsonServlet</servlet-name>
		<url-pattern>/productGroupGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productGroupUpdateJsonServlet</servlet-name>
		<url-pattern>/productGroupUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>discountGetJsonServlet</servlet-name>
		<url-pattern>/discountGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>discountUpdateJsonServlet</servlet-name>
		<url-pattern>/discountUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantGetJsonServlet</servlet-name>
		<url-pattern>/merchantGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantGetAllJsonServlet</servlet-name>
		<url-pattern>/merchantGetAllJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantUpdateJsonServlet</servlet-name>
		<url-pattern>/merchantUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>employeeGetJsonServlet</servlet-name>
		<url-pattern>/employeeGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>employeeUpdateJsonServlet</servlet-name>
		<url-pattern>/employeeUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>customerGetJsonServlet</servlet-name>
		<url-pattern>/customerGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>customerUpdateJsonServlet</servlet-name>
		<url-pattern>/customerUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productGetJsonServlet</servlet-name>
		<url-pattern>/productGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productUpdateJsonServlet</servlet-name>
		<url-pattern>/productUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userGetJsonServlet</servlet-name>
		<url-pattern>/userGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userUpdateJsonServlet</servlet-name>
		<url-pattern>/userUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transactionsGetJsonServlet</servlet-name>
		<url-pattern>/transactionsGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transactionsUpdateJsonServlet</servlet-name>
		<url-pattern>/transactionsUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transactionItemGetJsonServlet</servlet-name>
		<url-pattern>/transactionItemGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transactionItemUpdateJsonServlet</servlet-name>
		<url-pattern>/transactionItemUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>supplierGetJsonServlet</servlet-name>
		<url-pattern>/supplierGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>supplierUpdateJsonServlet</servlet-name>
		<url-pattern>/supplierUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>billGetJsonServlet</servlet-name>
		<url-pattern>/billGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>billUpdateJsonServlet</servlet-name>
		<url-pattern>/billUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cashflowGetJsonServlet</servlet-name>
		<url-pattern>/cashflowGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cashflowUpdateJsonServlet</servlet-name>
		<url-pattern>/cashflowUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inventoryGetJsonServlet</servlet-name>
		<url-pattern>/inventoryGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inventoryUpdateJsonServlet</servlet-name>
		<url-pattern>/inventoryUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantAccessGetAllJsonServlet</servlet-name>
		<url-pattern>/merchantAccessGetAllJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantAccessGetJsonServlet</servlet-name>
		<url-pattern>/merchantAccessGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantAccessUpdateJsonServlet</servlet-name>
		<url-pattern>/merchantAccessUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userAccessGetJsonServlet</servlet-name>
		<url-pattern>/userAccessGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userAccessUpdateJsonServlet</servlet-name>
		<url-pattern>/userAccessUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ordersGetJsonServlet</servlet-name>
		<url-pattern>/ordersGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ordersUpdateJsonServlet</servlet-name>
		<url-pattern>/ordersUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ordersDeleteJsonServlet</servlet-name>
		<url-pattern>/ordersDeleteJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderItemGetJsonServlet</servlet-name>
		<url-pattern>/orderItemGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderItemUpdateJsonServlet</servlet-name>
		<url-pattern>/orderItemUpdateJsonServlet</url-pattern>
	</servlet-mapping>

</web-app>
