<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>merchantValidateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantValidateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getLastSyncJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.GetLastSyncJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateLastSyncJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UpdateLastSyncJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productGroupGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductGroupGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productGroupUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductGroupUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>discountGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.DiscountGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>discountUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.DiscountUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantGetAllJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantGetAllJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>merchantUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.MerchantUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>employeeGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.EmployeeGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>employeeUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.EmployeeUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>customerGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.CustomerGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>customerUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.CustomerUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.ProductUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UserGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.UserUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>transactionsGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.TransactionsGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>transactionsUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.TransactionsUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>transactionItemGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.TransactionItemGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>transactionItemUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.TransactionItemUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>supplierGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.SupplierGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>supplierUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.SupplierUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>billGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.BillGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>billUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.BillUpdateJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>inventoryGetJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.InventoryGetJsonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>inventoryUpdateJsonServlet</servlet-name>
		<servlet-class>com.app.posweb.server.servlet.InventoryUpdateJsonServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>merchantValidateJsonServlet</servlet-name>
		<url-pattern>/merchantValidateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getLastSyncJsonServlet</servlet-name>
		<url-pattern>/getLastSyncJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateLastSyncJsonServlet</servlet-name>
		<url-pattern>/updateLastSyncJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productGroupGetJsonServlet</servlet-name>
		<url-pattern>/productGroupGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productGroupUpdateJsonServlet</servlet-name>
		<url-pattern>/productGroupUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>discountGetJsonServlet</servlet-name>
		<url-pattern>/discountGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>discountUpdateJsonServlet</servlet-name>
		<url-pattern>/discountUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantGetJsonServlet</servlet-name>
		<url-pattern>/merchantGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantGetAllJsonServlet</servlet-name>
		<url-pattern>/merchantGetAllJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>merchantUpdateJsonServlet</servlet-name>
		<url-pattern>/merchantUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>employeeGetJsonServlet</servlet-name>
		<url-pattern>/employeeGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>employeeUpdateJsonServlet</servlet-name>
		<url-pattern>/employeeUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>customerGetJsonServlet</servlet-name>
		<url-pattern>/customerGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>customerUpdateJsonServlet</servlet-name>
		<url-pattern>/customerUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productGetJsonServlet</servlet-name>
		<url-pattern>/productGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productUpdateJsonServlet</servlet-name>
		<url-pattern>/productUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userGetJsonServlet</servlet-name>
		<url-pattern>/userGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userUpdateJsonServlet</servlet-name>
		<url-pattern>/userUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transactionsGetJsonServlet</servlet-name>
		<url-pattern>/transactionsGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transactionsUpdateJsonServlet</servlet-name>
		<url-pattern>/transactionsUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transactionItemGetJsonServlet</servlet-name>
		<url-pattern>/transactionItemGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transactionItemUpdateJsonServlet</servlet-name>
		<url-pattern>/transactionItemUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>supplierGetJsonServlet</servlet-name>
		<url-pattern>/supplierGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>supplierUpdateJsonServlet</servlet-name>
		<url-pattern>/supplierUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>billGetJsonServlet</servlet-name>
		<url-pattern>/billGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>billUpdateJsonServlet</servlet-name>
		<url-pattern>/billUpdateJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inventoryGetJsonServlet</servlet-name>
		<url-pattern>/inventoryGetJsonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inventoryUpdateJsonServlet</servlet-name>
		<url-pattern>/inventoryUpdateJsonServlet</url-pattern>
	</servlet-mapping>

</web-app>
